.newsletter__inner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.4rem;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 990px) {
  .newsletter__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 6.4rem;
  }
}
.newsletter__inner--right {
  flex-direction: column-reverse;
  align-items: flex-start;
}
@media (min-width: 990px) {
  .newsletter__inner--right {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.newsletter__inner--right .newsletter__image {
  margin: 0;
  border-radius: 1.2rem;
}
.newsletter__image {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 1.2rem;
}
@media (min-width: 990px) {
  .newsletter__image {
    width: 54%;
  }
}
.newsletter__button {
  width: 100%;
}
@media (min-width: 576px) {
  .newsletter__button {
    width: auto;
  }
}
.newsletter  .newsletter__titles {
  max-width: none;
}
.newsletter .newsletter__subtitle {
  --font-subtitle-secondary-weight: 500;
  --font-subtitle-secondary-scale: 1.6;
  margin-bottom: 0.4rem;
  font-size: 1.4;
  background-color: transparent;
  padding: 0;
}
.newsletter .newsletter__title {
  --font-heading-weight: 700;
  margin: 0 0 2.4rem;
  font-size: 2.6rem;
  line-height: 1.2;
}
@media (min-width: 990px) {
  .newsletter .newsletter__subtitle {
    --font-subtitle-secondary-scale: 2;
  }
  .newsletter .newsletter__title {
    margin: 0 0 3.2rem;
    font-size: 4rem;
  }
}
.newsletter .newsletter-form {
  /* flex-basis: 50%; */
  width: 100%;
  max-width: 60rem;
}
.newsletter .newsletter-form__inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.8rem;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
@media (min-width: 576px) {
  .newsletter .newsletter-form__inner {
    flex-direction: row;
  }
}
.newsletter .newsletter-form__field-wrapper {
  flex: 1;
  width: 100%;
  position: relative;
}
@media (min-width: 576px) {
  .newsletter .newsletter-form__field-wrapper {
    width: auto;
  }
}
.newsletter .newsletter-form__message {
  margin-bottom: 0;
}
@media (min-width: 750px) {
  .newsletter .newsletter-form__message {
    justify-content: flex-start;
  }
}
.newsletter .newsletter-form__message--success {
  margin-top: 2rem;
}
@media (min-width: 750px) {
  .newsletter .newsletter-form__message--success {
    width: 100%;
  }
}

.newsletter__form {
  width: 100%;
}
.newsletter__form .rte {
  color: rgba(var(--color-foreground), 0.6);
}
.newsletter__form .rte p {
  margin-bottom: 0;
  font-size: 1.4rem;
}
.newsletter__form .rte a {
  color: rgb(var(--color-foreground), 1);
  transition: color var(--duration-default);
}
.newsletter__form .rte a:hover {
  color: rgba(var(--color-foreground), 0.8);
}
.newsletter__text {
  margin-top: 1.6rem;
  color: rgb(var(--color-foreground-secondary));
}
